<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    "scaffold" %>
  <%= stylesheet_link_tag    "simple_blog/application", :media => "all" %>
  <%= javascript_include_tag "simple_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div>
      <p>
        <a href="/simple_blog">Home</a>
        <a href="/simple_blog/financial-stuff">Financial Stuff Category</a>
        <a href="/simple_blog/archive/2012/8">August 2012 Archive</a>
      </p>
    </div>

    <%= yield %>
  </div>

</body>
</html>
