<%= render :partial => 'simple_blog/posts/search' %>

<h4>Categories</h4>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to(category.name.html_safe, category_path(category.slug)) %> <small>(<%= category.posts.length %>)</small></li>
  <% end %>
</ul>

<h4>Recent Posts</h4>
<ul>
  <% @recent_posts[0,3].each do |post| %>
    <li><%= link_to(post.title.html_safe, post_path(post.slug)) %></li>
  <% end %>
</ul>

<h4>Authors</h4>
<ul>
  <% @authors.each do |author| %>
    <li><%= link_to(author.instance_eval("self.#{SimpleBlog.author_user_class_display_field}"), author_path(author)) %></li>
  <% end %>
</ul>

<h4>Tags</h4>
<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to(tag.name, tag_path(tag.name)) %></li>
  <% end %>
</ul>

<h4>Archive</h4>
<ul>
  <% @archives.each do |date| %>
    <li><%= link_to(date.strftime('%B %Y'), archive_path(date.year, date.month)) %></li>
  <% end %>
</ul>
