<div class="well">
  <h2><%= post_title_link(post) %></h2>
  <small>Posted at <%= post.date.strftime('%l:%M %p %Z on %B %e, %Y') %> by [[User Goes Here]]</small>
  <p><%= post.excerpt.html_safe %></p>
  <p><%= link_to('Read More', post_path(post.slug)) %></p>
  <p><b>Tags:</b> <%= tag_links(post.tags) %></p>
</div>
