<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Slug:</b>
  <%= @post.slug %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Excerpt:</b>
  <%= @post.excerpt %>
</p>

<p>
  <b>Tags:</b>
  <%= tag_links(@post.tags) %>
</p>

<p>
  <b>Date:</b>
  <%= @post.date %>
</p>

<p>
  <b>Published:</b>
  <%= @post.published %>
</p>

<h3>Comments</h3>
<%= render @post.comments %>

<%= render "simple_blog/comments/form" %>

<%= link_to 'Back', root_path %>
