<h1><%= @post.title %></h1>
<p><%= @post.date.strftime('%B %e, %Y') %>, Posted by <span class="author"><%= link_to(@post.author.instance_eval("self.#{SimpleBlog.author_user_class_display_field}"), author_path(@post.author)) %></span></p>

<p><%= @post.content.html_safe %></p>
<p>Tags: <%= tag_links(@post.tags) %></p>

<% if SimpleBlog.author_user_class_biography_field %>
  <% unless @post.author.instance_eval("self.#{SimpleBlog.author_user_class_biography_field}").blank? %>
    <div>
      <h5>Biography for <%= link_to(@post.author.instance_eval("self.#{SimpleBlog.author_user_class_display_field}"), author_path(@post.author)) %></h5>
      <% if SimpleBlog.author_user_class_avatar_method %>
        <%= image_tag(@post.author.instance_eval("self.#{SimpleBlog.author_user_class_avatar_method}")) %>
      <% end %>
      <%= @post.author.instance_eval("self.#{SimpleBlog.author_user_class_biography_field}").html_safe %>
    </div>
  <% end %>
<% end %>

<% if SimpleBlog.enable_comments %>
  <div id="comments">
    <h2>Comments</h2>
    <%= render @post.comments %>
    <% if allow_comments? %>
      <%= render "simple_blog/comments/form" %>
    <% else %>
      <small>You must <%= link_to('register', main_app.new_user_registration_path) %> if you want to leave a comment.</small>
    <% end %>
  </div>
<% end %>

<% if @related_posts && @related_posts.length > 0 %>
  <div id="related_posts">
    <h2>Related Articles</h2>
    <div>
      <ul>
        <% @related_posts.each do |post| %>
          <li><%= link_to(post.title, post_path(post.slug)) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
