<div class="page-header">
  <h1><%= @post.title %> <small><%= @post.date.strftime('%B %e, %Y') %></small></h1>
</div>

<p><%= @post.content.html_safe %></p>
<p><b>Tags:</b> <%= tag_links(@post.tags) %></p>

<h3>Comments</h3>
<%= render @post.comments %>

<%= render "simple_blog/comments/form" %>

<%= link_to 'Back', root_path %>
